name: Release

on:
  push:
    tags:
      - 'v*'

concurrency: release

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Publish
        run: |
          npm install -g npm@latest
          npm ci
          npm test
          npm publish

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
            name: Mock XP API ${{ github.ref_name }}
